.map-container {
    position: static;
    height: 1000px;
    top: 80px;
    bottom: 80px;
    left: 1500px;
    right: 80px;
    width: 100%;
    margin: auto;
    border: 2px solid darkolivegreen;
}

.geocoder {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: 50%;
}
